website-title {
    direction: column;
    align-items: center;
}
body {
    border-width: 10px;
    border-color: gray;
    border-style: inset;
    font-size: 20px;
    padding: 5px;
    background-color: darkgray;
}